/* Стили для слайдера */
.slider {
  width: 100%;
  margin-top: 20px;
}

.slider img {
  width: 100%;
}

/* Дополнительные стили для слайдера */
.slider {
  position: relative;
  overflow: hidden;
}

.slider .slick-slide {
  position: relative;
  display: block;
  width: 100%;
}

.slider .slick-dots {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.slider .slick-dots li {
  margin: 0 5px;
}

.slider .slick-dots li button {
  display: block;
  width: 10px;
  height: 10px;
  border: 2px solid #fff;
  background-color: transparent;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
}

.slider .slick-dots li.slick-active button {
  background-color: #fff;
}

/* Стили для заголовков */
.header-content {
  text-align: center;
  margin-bottom: 50px;
  background-color: #f0f0f0; /* Изменение цвета фона */
  padding: 20px; /* Добавление внутренних отступов */
}

/* Стили для карточек публикаций */
.card {
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Добавление тени */
}

.card:hover {
  background: #f7f7f7;
  /* border:solid #f7f7f7; */
}

.card-body {
  padding: 20px; /* Добавление внутренних отступов */
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.card-text {
  font-size: 1rem;
}

.text-muted {
  color: #6c757d; /* Цвет для текста с малой яркостью */
}

/* Стили для кнопки "Полная статья" */
.btn-full-article {
  margin-top: 10px;
}

/* Стили для пагинации */
.pagination {
  margin-top: 20px;
}

/* Стили для контейнера популярных тем */

.popular-topics{
  width: 250px; /* Ширина контейнера популярных тем */
  float: left; /* Выравнивание влево */
  border: 2px solid #dfdfdf; /* Обводка контейнера */
  padding: 10px; /* Отступы внутри контейнера */
  border-radius: 5px; /* Скругление углов контейнера */
}

.popular-topics a {
  display: inline-block;
  width: 100%;
  padding: 2px;
  margin: 2px;
  /* text-align: center; */
  color: #212529;
  font-weight: 700;
  text-decoration: none;
  border-radius: 5px;
}

.popular-topics a:hover {
  color: #4f5760; /* Цвет фона кнопки при наведении */
}


/* Стили для футера */
footer {
  background-color: #343a40; /* Изменение цвета фона */
  color: #fff; /* Изменение цвета текста */
  text-align: center;
  padding: 20px 0; /* Добавление внутренних отступов по вертикали */
}

/* Медиа-запросы для адаптивности */

@media (max-width: 1025px){
  .btn-t {
    margin: 0px 0px 0px 230px !important;
}
.display-4{
  font-size: 2.5rem;
}
} 

/* Для устройств с шириной экрана до 768px (таких как планшеты и мобильные устройства) */
@media (max-width: 768px) {
  .header-content {
      padding: 10px; /* Уменьшение внутренних отступов */
      margin-bottom: 30px; /* Уменьшение внутренних отступов */
      margin-top: 20px;
  }
  .display-4{
    font-size: 1.5rem;
  }
  }

  .card-columns {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
  }

/* Для устройств с шириной экрана до 576px (таких как мобильные устройства) */
@media (max-width: 576px) {
  .mt-5, .my-5 {
    margin-top: 1.5rem;
  }
  h2 {
    font-size: 25px;
  }
  .card {
      width: 100%;
      margin-right: 0;
      margin-bottom: 20px;
  }
  .page-link{
    padding: 0.4rem .4rem !important;
  }
  .btn-t{
    margin: 0px 0px 0px 330px !important;
  }
}

@media (max-width: 426px){
  .btn-t {
    margin: 0px 0px 5px 350px !important;
}
} 

@media (max-width: 376px){
  .btn-t {
    margin: 0px 0px 1px 270px !important;
}
} 

@media (max-width: 321px){
  .btn-t {
    margin: 0px 0px 0px 220px !important;
}
} 


/* Стили для бургер-меню */
.navbar-toggler {
  border: none;
  outline: none;
  padding: 0;
  cursor: pointer;
}

/* Стили для раздела "Популярные темы" в бургер-меню */
.nav-link {
  color: #fff;
}

.nav-link:hover {
  color: rgba(255, 255, 255, 0.7);
}


.wrapper {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
  margin-bottom: 20px;
}

.slider {
  display: flex;
  position: relative;
  width: 600%;
  height: 100%;
  transition: transform 0.5s ease;
}

.slides {
  flex: 1;
  width: 100%;
  height: 100%;
}

.controls {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

input[name="point"] {
  display: none;
}

label {
  cursor: pointer;
  width: 15px;
  height: 15px;
  margin: 0 5px;
  background-color: #333;
  border-radius: 50%;
}

#slide1:checked ~ .slider {
  transform: translateX(0%);
}

#slide2:checked ~ .slider {
  transform: translateX(-20%);
}

#slide3:checked ~ .slider {
  transform: translateX(-40%);
}

#slide4:checked ~ .slider {
  transform: translateX(-60%);
}

#slide5:checked ~ .slider {
  transform: translateX(-80%);
}

#slide1:checked ~ .controls label:nth-child(1),
#slide2:checked ~ .controls label:nth-child(2),
#slide3:checked ~ .controls label:nth-child(3),
#slide4:checked ~ .controls label:nth-child(4),
#slide5:checked ~ .controls label:nth-child(5) {
  background-color: #fff;
}

.btn-t {
  margin-top: -18% !important;
  margin: 0px 0px 0px 280px;
  padding: inherit;
  font-size: 2rem;
  color: #54a3f7;
  background-color: #fdfdfd00;
  border-color: #fdfdfd00;
}

.btn-t:hover{
  color: #2387f3;
  background-color: transparent;
  border-color: transparent;
}
.card .btn-t:active{
  color: #f3db23 !important;
  box-shadow: 0 0 0 .2rem rgb(38 143 255 / 0%) !important;
  background-color: transparent !important;
  border-color: transparent !important;
}
.btn-t:focus{
  color: #2387f3 !important;
  box-shadow: 0 0 0 .2rem rgb(38 143 255 / 0%) !important;
  background-color: transparent !important;
  border-color: transparent !important;
}
.btn-t:focus-visible{
  color: #2387f3 !important;
  box-shadow: 0 0 0 .2rem rgb(38 143 255 / 0%) !important;
  background-color: transparent !important;
  border-color: transparent !important;
}

.path_lnk_group{
  color: #007bff;
}